.agro-text {
    font-family: Arial, sans-serif;
    font-size: 150px;
    font-weight: bold;
    background-image: url('https://imgix-prod.sgs.com/-/media/sgscorp/images/temporary/golden-wheat-grass.cdn.en-PH.1.jpg?fit=crop&auto=format&crop=focalpoint&fp-x=0.35&fp-y=0.6&fp-z=1&w=645&h=403');
    /* Use the path of your image here */
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.hero-video {
    transition: opacity 1.5s ease-in-out;
}

.opacity-100 {
    opacity: 1 !important;
}

.component {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

blockquote {
    background:
        linear-gradient(to right, #039be5 6px, transparent 4px) 0 100%,
        linear-gradient(to left, #039be5 6px, transparent 4px) 100% 0,
        linear-gradient(to bottom, #039be5 6px, transparent 4px) 100% 0,
        linear-gradient(to top, #039be5 6px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

blockquote:before,
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    color: #039be5;
    font-size: 34px;
}

blockquote:before {
    content: "\f10d";
    top: -12px;
    margin-right: -20px;
    right: 100%;
}

blockquote:after {
    content: "\f10e";
    margin-left: -20px;
    left: 100%;
    top: auto;
    bottom: -20px;
}
